.service {
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.service:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  box-shadow: 0 10px 30px rgba(164, 199, 231, 0.829);
}
