header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: rgb(52, 100, 119);
}
nav {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  display: flex;
}

nav a {
    font-weight: 600;
  text-decoration: none;
  margin-right: 25px;
  color: rgb(185, 236, 236);
}
nav a:hover {
  color: aqua;
}

@media only screen and (max-width: 576px) {
  nav img {
    height: 30px;
    margin-right: 0;
  }

  nav a {
    justify-content: space-around;
    margin-right: 10px;
    font-size: 14px;
  }
}
